<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.diteyb">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VolleySingleton"
        android:allowBackup="true"
        android:icon="@drawable/ditey_logo_dark"
        android:label="Ditey"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="Ditey"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Configurações"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SavedTextsActivity"
            android:label="Textos Salvos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registrar"
            android:theme="@style/AppTheme" />
    </application>

</manifest>